body{
	background-color: #666E76;
}
.menu{
	background-color: transparent;
}
ul li a{
	color: #FFF !important;
}
ul li a:hover{
	color: #cfd3f7 !important;
}

.menu-scroll{
	background: #263271 !important;
}

@media (max-width: 800px){
	.menu{
		background: #263271 !important;
	}
	.carousel-topo{
		margin-top: 50px;
	}
}
.jumbotron{
	border-radius: 0rem;
}
.servicos{
	background-color: #fafafa;
	margin-bottom: 0rem;
}
.servicos .card{
	background-color: transparent;
	border: 0px solid rgba(0,0,0,.125);
}
.sobre-empresa{
	background-color: #0f84e7;
	color: #FFF;
	margin-bottom: 0rem;
}
.contato{
	background-color: #fafafa;
	margin-bottom: 0rem;	
}
.rodape{
	padding-top: 20px;
	background-color: #0f84e7;
	color: #fff;
	margin-bottom: 0rem;
}
.subirLogin{
	margin-top: -150px;
}




